//FONTS
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;400;600&display=swap');

//VARIABLES
$primary-color: #F0DB4F;
$secondary-color: #181818;

//DEFAULT
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans SC', sans-serif;
}

//BOX
.box{
    border: 3px solid #f0da4fc4;
    border-radius: 30px;
    padding: 50px;
}

.title{
    font-weight: 600;
    color: $secondary-color;
    font-size: 52px;
}

.btn-p{
    margin-right: 40px;
}

.button{
    // padding: 10px 20px;
    border: 2px solid $secondary-color;
    border-radius: 10px;
    background-color: #fff;

    --c: #181818;
    color: #323330 ;
    font-size: 18px;
    border: 2px solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    &:hover{
        color: $primary-color;
        border-color: #fff;
        span{
            transform: translateY(0) scale(2);
        }
    }
}
span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

span:nth-child(1) {
    --n: 1;
}

span:nth-child(2) {
    --n: 2;
}

span:nth-child(3) {
    --n: 3;
}

span:nth-child(4) {
    --n: 4;
}
